body{
    background-color: #870A28;
}

.custom-header {
    background-color: #870A28;
    margin-top: 0px;
    margin-bottom: -5px;
}

.nav-link.active{
    color: #870A28 !important;          /* Cor do link não ativo */
    background-color: white !important; /* Fundo do link não ativo */
    margin-left: 5px;
}

.nav-link{
    font-size: 18px;
    color: white !important;            /* Cor do texto do link ativo */
    border-color: white !important;
    background-color: #870A28 !important;/* Fundo do link ativo */
    margin-left: 5px;
}

.custom-nav {
    height: 71px;
    border: none !important; 
    background-color: #004d2c;
}

.custom-nav .nav-item{
    border: none !important; 
    margin-top: 30px;
}

.custom-nav .nav-link{
    border-bottom: none !important;
    background-color: #004d2c !important;
}

.custom-nav .nav-link.active{
    background-color: #870A28 !important;
    color: white !important;
}



.table-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;  /* Centraliza horizontalmente */
}

.table-container div {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

table {
    font-size: 20px;
    height: 100px;
    margin: 0 auto;
    width: 100%;
    border: 2px solid white;
}

table th, table td {
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    white-space: break-word;
}

table td:first-child, table th:first-child {
    width: 80px; 
}

table th {
    background-color: #004d2c;
    color: white;
}

table tr {
    background-color: white; 
}

table tr:hover {
    background-color: #9fcd94;
}

.table-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.section-title {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    color: white;
    background-color: #004d2c;
    text-align: center;
}

.nav, .nav-item{
    border: none !important; 
}

.tagify .tagify__dropdown {
    max-height: 150px;  /* Define a altura máxima da lista de sugestões */
    overflow-y: auto;   /* Ativa o scroll vertical se necessário */
}

.btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}