<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lista de Jogos do Fluminense com detalhes sobre placar, adversário, estádio e mais.">
    <meta name="author" content="Guilherme Cunha">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta name="robots" content="index, follow">
    <title>Lista de Jogos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'meus_jogos_app/styles_estatisticas2.css' %}">
</head>

<body>
    <nav class="nav nav-tabs custom-nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{% url 'jogos_flu' %}">Jogos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'estatisticas_dados_gerais' %}">Estatísticas</a>
        </li>
    </nav>
    <header class="custom-header text-white py-3">
        <div class="container text-center">
            <h1 class="h1">Estatísticas</h1>
        </div>
    </header>
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'estatisticas_dados_gerais' %}">Geral</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'estatisticas_dados_jogadores' %}">Jogadores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'estatisticas_dados_adv' %}">Adversários</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'estatisticas_dados_datas' %}">Datas</a>
        </li>
        {% comment %} <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'personalizar' %}">Personalizar</a>
        </li> {% endcomment %}
    </li>
    </ul>
    <div class="table-container">
        <div class="table-row">
            <div class="table-wrapper">
                <div class="section-title">Mais Jogos</div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Jogador</th>
                            <th>Jogos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jogo in df_mais_jogos %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ jogo.Jogador }}</td>
                            <td>{{ jogo.Jogos }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper">
                <div class="section-title">Técnicos com Mais Jogos</div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Técnicos</th>
                            <th>Jogos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jogo in df_mais_tec %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ jogo.Tecnico }}</td>
                            <td>{{ jogo.Jogos }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-row">
            <div class="table-wrapper">
                <div class="section-title">Mais Gols</div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Jogador</th>
                            <th>Gols</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jogo in df_gols %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ jogo.Jogador }}</td>
                            <td>{{ jogo.Gols }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                <div class="table-wrapper">
                    <div class="section-title">Mais Assistências</div>
                    <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Jogador</th>
                            <th>Assists</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jogo in df_assists %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ jogo.Jogador }}</td>
                            <td>{{ jogo.Assists }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
        </div>
        <div class="table-row">
            <div class="table-wrapper">
                <div class="section-title">Mais Participações em Gol</div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Jogador</th>
                            <th>G/A</th>
                            <th>Gols</th>
                            <th>Assists</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jogo in df_part %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ jogo.Jogador }}</td>
                            <td>{{ jogo.GA }}</td>
                            <td>{{ jogo.Gols }}</td>
                            <td>{{ jogo.Assists }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper">
                <div class="section-title">Duplas com mais Gols</div>
                    <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Dupla</th>
                            <th>Gols</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jogo in df_dupla %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ jogo.Dupla }}</td>
                            <td>{{ jogo.Gols }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-row">
            <div class="table-wrapper">
                <div class="section-title">Mais Gols por Ano</div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Jogador</th>
                            <th>Ano</th>
                            <th>Gols</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jogo in df_art_ano %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ jogo.Jogador }}</td>
                            <td>{{ jogo.Ano }}</td>
                            <td>{{ jogo.Gols }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper">
                <div class="section-title">Mais Gols por Adversário</div>
                    <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Jogador</th>
                            <th>Adversário</th>
                            <th>Gols</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jogo in df_art_time %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ jogo.Jogador }}</td>
                            <td>{{ jogo.Adversario }}</td>
                            <td>{{ jogo.Gols }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
    
    <script src="{% static 'meus_jogos_app/script.js' %}"></script>
</body>

</html>
