<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lista de Jogos do Fluminense com detalhes sobre placar, adversário, estádio e mais.">
    <meta name="author" content="Guilherme Cunha">
    <meta name="robots" content="index, follow">
    <title>Estatísticas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'meus_jogos_app/styles_estatisticas.css' %}">
    <nav class="nav1">
        <ul>
            <li><a href="{% url 'jogos_flu' %}">Jogos</a></li>
        </ul>
        <ul>
            <li><a href="{% url 'estatisticas_dados_gerais' %}">Estatísticas</a></li>
        </ul>
    </nav>
</head>
<body>
    <header>
        <h1>Estatísticas</h1>
    </header>
    <nav class = "nav2">
        <ul>
            <li><a href="{% url 'estatisticas_dados_gerais' %}">Geral</a></li>
        </ul>
        <ul>
            <li><a href="{% url 'estatisticas_dados_jogadores' %}">Jogadores</a></li>
        </ul>
        <ul>
            <li><a href="{% url 'estatisticas_dados_adv' %}">Adversários</a></li>
        </ul>
        <ul>
            <li><a href="{% url 'estatisticas_dados_datas' %}">Datas</a></li>
        </ul>
    </nav>
    <div class="table-container">
        <div>
                <div class="section-title">Resultados</div>
                {{ df_jogos|safe }}
        </div>
        <div>
                <div class="section-title">Gols Marcados e Sofridos</div>
                {{ df_gols_total|safe }} 
        </div>
    </div>
    <div class="table-container">
        <div>
                <div class="section-title">Local do Jogo</div>
                {{ df_estado|safe }} 
        </div>
        <div>
                <div class="section-title">Estádios</div>
                {{ df_estadio|safe }} 
        </div>
    </div>
    <div class="table-container">
        <div>
                <div class="section-title">Árbitros</div>
                {{ df_arbitro|safe }} 
        </div>
        <div>
                <div class="section-title">Placares</div>
                {{ df_placares|safe }}
        </div>
    </div>
    <div class="table-container">
        <div>
                <div class="section-title">Campeonatos</div>
                {{ df_campeonatos|safe }} 
        </div>
        <div>
                <div class="section-title">Público</div>
                {{ df_publico|safe }}
        </div>
    </div>
    <script src="{% static 'meus_jogos_app/script.js' %}"></script>
</body>
</html>