<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lista de Jogos do Fluminense com detalhes sobre placar, adversário, estádio e mais.">
    <meta name="author" content="Guilherme Cunha">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta name="robots" content="index, follow">
    <title>Lista de Jogos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'meus_jogos_app/styles_jogos.css' %}">
</head>

<body>
    <nav class="nav nav-tabs custom-nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'jogos_flu' %}">Jogos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'estatisticas_dados_gerais' %}">Estatísticas</a>
        </li>
    </nav>
    <header class="custom-header text-white py-3">
        <div class="container text-center">
            <h1 class="h1">Lista de Jogos</h1>
        </div>
    </header>
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'jogos_flu' %}">Fluminense</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'outros_jogos' %}">Outros Jogos</a>
        </li>
      </ul>
        <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Mandante</th>
                    <th>Placar</th>
                    <th>Adversário</th>
                    <th>Estádio</th>
                    <th>Data</th>
                    <th>Campeonato</th>
                </tr>
            </thead>
            <tbody>
                {% for jogo in outros_jogos %}
                <tr>
                    <td>{{ jogo.id }}</td>
                    <td>{{ jogo.mandante }}</td>
                    <td>{{ jogo.placar }}</td>
                    <td>{{ jogo.visitante }}</td>
                    <td>{{ jogo.estadio }}</td>
                    <td>{{ jogo.data }}</td>
                    <td>{{ jogo.campeonato }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    <script src="{% static 'meus_jogos_app/script.js' %}"></script>
</body>
</html>
