<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lista de Jogos do Fluminense com detalhes sobre placar, adversário, estádio e mais.">
    <meta name="author" content="Guilherme Cunha">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="robots" content="index, follow">
    <title>Lista de Jogos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'meus_jogos_app/styles_personalizar.css' %}">
    <!-- Tagify CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">
</head>

<body>
    <nav class="nav nav-tabs custom-nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{% url 'jogos_flu' %}">Jogos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'estatisticas_dados_gerais' %}">Estatísticas</a>
        </li>
    </nav>
    <header class="custom-header text-white py-3">
        <div class="container text-center">
            <h1 class="h1">Filtrar Estatísticas</h1>
        </div>
    </header>
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'estatisticas_dados_gerais' %}">Geral</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'estatisticas_dados_jogadores' %}">Jogadores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'estatisticas_dados_adv' %}">Adversários</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'estatisticas_dados_datas' %}">Datas</a>
        </li>
        {% comment %} <li class="nav-item">
            <a class="nav-link active" href="{% url 'personalizar' %}">Personalizar</a>
        </li> {% endcomment %}
    </ul>

    <div class="table-container">
        <form method="get" action="{% url 'personalizar' %}">
            <div class="row">
                <div class="col-md-4 col-12 mb-3">
                <label for="adversario">Dia:</label>
                    <input type="number" class="form-control" id="dia" name="dia" min="1" max="31" value="{{ request.GET.dia }}">
                </div>
                <div class="col-md-4 col-12 mb-3">
                <label for="adversario">Mês:</label>
                    <input type="number" class="form-control" id="mes" name="mes" min="1" max="12" value="{{ request.GET.mes }}">
                </div>
                <div class="col-md-4 col-12 mb-3">  
                <label for="adversario">Ano:</label>
                    <input type="number" class="form-control" id="ano" name="ano" value="{{ request.GET.ano }}">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6 col-12 mb-3">
                    <label for="adversario">Adversário:</label>
                    <input class="form-control" id="adversario" name="adversario" value="{{ request.GET.adversario }}">
                </div>
                <div class="col-md-6 col-12 mb-3">
                    <label for="local_adversario">Local do Adversário:</label>
                    <input class="form-control" id="local_adversario" name="local_adversario" value="{{ request.GET.local_adversario }}">
                </div>
            </div>
            
            <!-- Filtros de Jogo -->
            <div class="row mt-3">
                <div class="col-md-4 col-12 mb-3">
                    <label for="resultado">Resultado:</label>
                    <input class="form-control" id="resultado" name="resultado" value="{{ request.GET.resultado }}">
                </div>
                <div class="col-md-4 col-12 mb-3">
                    <label for="estadio">Estádio:</label>
                    <input class="form-control" id="estadio" name="estadio" value="{{ request.GET.estadio }}">
                </div>
                <div class="col-md-4 col-12 mb-3">
                    <label for="local_jogo">Local do Jogo:</label>
                    <input class="form-control" id="local_jogo" name="local_jogo" value="{{ request.GET.local_jogo }}">
                </div>
            </div>

            <!-- Filtros de Árbitro e Campeonato -->
            <div class="row mt-3">
                <div class="col-md-6 col-12 mb-3">
                    <label for="arbitro">Árbitro:</label>
                    <input class="form-control" id="arbitro" name="arbitro" value="{{ request.GET.arbitro }}">
                </div>
                <div class="col-md-6 col-12 mb-3">
                    <label for="campeonato">Campeonato:</label>
                    <input class="form-control" id="campeonato" name="campeonato" value="{{ request.GET.campeonato }}">
                </div>
            </div>

            <!-- Filtros de Placar e Público -->
            <div class="row mt-3">
                <div class="col-md-6 col-12 mb-3">
                    <label for="placar">Placar:</label>
                    <input class="form-control" id="placar" name="placar" value="{{ request.GET.placar }}">
                </div>
                <div class="col-md-6 col-12 mb-3">
                    <label for="publico">Público (range):</label>
                    <input type="number" class="form-control" id="publico" name="publico" min="0" value="{{ request.GET.publico }}">
                </div>
            </div>

            <!-- Filtros de Jogador, Técnico e Autores -->
            <div class="row mt-3">
                <div class="col-md-6 col-12 mb-3">
                    <label for="jogador">Jogador:</label>
                    <input class="form-control" id="jogador" name="jogador" value="{{ request.GET.jogador }}">
                </div>
                <div class="col-md-6 col-12 mb-3">
                    <label for="tecnico">Técnico:</label>
                    <input class="form-control" id="tecnico" name="tecnico" value="{{ request.GET.tecnico }}">
                </div>
            </div>

            <!-- Filtros de Assistente e Dupla -->
        <div class="row mt-3">
            <div class="col-md-6 col-12 mb-3">
                <label for="autor_gol">Autor do Gol:</label>
                <input class="form-control" id="autor_gol" name="autor_gol" value="{{ request.GET.autor_gol }}">
            </div>
            <div class="col-md-6 col-12 mb-3">
                <label for="assistente">Assistente:</label>
                <input class="form-control" id="assistente" name="assistente" value="{{ request.GET.assistente }}">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12 col-12 mb-3">
                <label for="dupla_gol_assistencia">Dupla (Gol e Assistência):</label>
                <div class="d-flex">
                    <div class="w-50 pr-2">
                        <input class="form-control" id="dupla_gol" name="dupla_gol" value="{{ request.GET.dupla_gol }}">
                    </div>
                    <div class="w-50 pl-2">
                        <input class="form-control" id="dupla_assistencia" name="dupla_assistencia" value="{{ request.GET.dupla_assistencia }}">
                    </div>
                </div>
            </div>  
        </div>
                <button type="submit" class="btn btn-primary mt-4">Filtrar</button>
        </form>
    
        <div class="mt-5">
            <h2>Jogos Filtrados</h2>
            <div>
                {% if df_html %}
                    <div class="table-responsive">
                        {{ df_html|safe }}
                    </div>
                {% else %}
                    <p>⚠️ Nenhum jogo encontrado com os filtros selecionados.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const dias = Array.from({ length: 31 }, (_, i) => i + 1);
            const mes = Array.from({ length: 12 }, (_, i) => i + 1);
            const ano = Array.from({ length: 2025 - 2004 + 1 }, (_, i) => 2004 + i);
            const local_adv = [{% for local in local_adv %}"{{ local }}", {% endfor %}];
            const adversarios = [{% for adversario in adversarios %}"{{ adversario }}", {% endfor %}];
            const autores = [{% for autor in autores_gol %}"{{ autor }}", {% endfor %}];
            const assistentes = [{% for assistente in assistentes %}"{{ assistente }}", {% endfor %}];
            const jogadores = [{% for jogador in jogadores %}"{{ jogador }}", {% endfor %}];
            const tecnicos = [{% for tecnico in tecnicos %}"{{ tecnico }}",{% endfor %}];
            const resultado = ["Vitória","Empate","Derrota"];

            const estadio = [{% for estadio in estadios %}"{{ estadio }}", {% endfor %}];
            const local_estadio = [{% for local in local_estadio %}"{{ local }}", {% endfor %}];
            const arbitro = [{% for arbitro in arbitros %}"{{ arbitro }}", {% endfor %}];
            const campeonato = [{% for campeonato in campeonatos %}"{{ campeonato }}", {% endfor %}];
            const placar = [{% for placar in placares %}"{{ placar }}", {% endfor %}];
            
            new Tagify(document.querySelector('#estadio'), {
                whitelist: estadio.sort(),
                dropdown: { enabled: 0, maxItems: 100 }
            });

            new Tagify(document.querySelector('#local_jogo'), {
                whitelist: local_estadio.sort(),
                dropdown: { enabled: 0, maxItems: 100 }
            });

            new Tagify(document.querySelector('#arbitro'), {
                whitelist: arbitro.sort(),
                dropdown: { enabled: 0, maxItems: 100 }
            });

            new Tagify(document.querySelector('#campeonato'), {
                whitelist: campeonato.sort(),
                dropdown: { enabled: 0, maxItems: 100 }
            });

            new Tagify(document.querySelector('#placar'), {
                whitelist: placar.sort(),
                dropdown: { enabled: 0, maxItems: 100 }
            });

            new Tagify(document.querySelector('#dia'), {
                whitelist: dias,
                dropdown: { enabled: 0, maxItems: 100 }
            });

            new Tagify(document.querySelector('#mes'), {
                whitelist: mes,
                dropdown: { enabled: 0, maxItems: 100 }
            });

            new Tagify(document.querySelector('#ano'), {
                whitelist: ano,
                dropdown: { enabled: 0, maxItems: 100 }
            });

            new Tagify(document.querySelector('#adversario'), {
                whitelist: adversarios.sort(),
                dropdown: { enabled: 0, maxItems: 100 }
            });

            new Tagify(document.querySelector('#local_adversario'), {
                whitelist: local_adv.sort(),
                dropdown: { enabled: 0, maxItems: 100 }
            });


            new Tagify(document.querySelector('#resultado'), {
                whitelist: resultado,
                dropdown: { enabled: 0, maxItems: 100 }
            });

            new Tagify(document.querySelector('#autor_gol'), {
                whitelist: autores.sort(),
                dropdown: { enabled: 0, maxItems: 100 }
            });

            new Tagify(document.querySelector('#assistente'), {
                whitelist: assistentes.sort(),
                dropdown: { enabled: 0, maxItems: 100 }
            });
            
            new Tagify(document.querySelector('#dupla_gol'), {
                whitelist: autores.sort(),
                dropdown: { enabled: 0, maxItems: 100 }
            });
            
            new Tagify(document.querySelector('#dupla_assistencia'), {
                whitelist: assistentes.sort(),
                dropdown: { enabled: 0, maxItems: 100 }
            });

            new Tagify(document.querySelector('#jogador'), {
                whitelist: jogadores.sort(),
                dropdown: { enabled: 0, maxItems: 100 }
            });

            new Tagify(document.querySelector('#tecnico'), {
                whitelist: tecnicos.sort(),
                dropdown: { enabled: 0, maxItems: 100 }
            });
        });
        
    </script>
    <script src="{% static 'meus_jogos_app/script.js' %}"></script>
</body>


</html>
